<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>S3Sync.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25BEB53C1CE2FBE800678588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25BEB54D1CE2FBE800678588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25BEB5581CE2FBE800678588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
